.body,
.wrapper {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-y: hidden;
}

.body {
  z-index: 1;
}

.wrapper {
  z-index: 2;
}

body {
  background-color: #8DA259;
  font-family: 'Press Start 2P', cursive;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.55rem;
  background-color: #2C311D;
  color: #8DA259;
  text-align: center;
}

.gameScreen {
  position: relative;
  margin: auto;
  width: 90%;
  max-width: 480px;
  border: solid;
  border-color: #2C311D;
}

.gameScreen:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.hidden {
  display: none;
}

.newGame {
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  background-color: #8DA259;
  z-index: 1;
}

.newGameButton {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  color: #8DA259;
  background-color: #2C311D;
  border-color: #2C311D;
  padding: 15px 12px;
  margin: 0;
}

.bigHeading {
  font-size: 2.5rem;
  color: #2C311D;
  text-align: center;
  margin-top: 15px;
}

.text {
  font-size: 1.2rem;
  color: #2C311D;
  padding: 30px;
  margin: 0
}

.resultScore {
  font-size: 1rem;
  color: #2C311D;
  display: inline-flex;
  position: absolute;
  right: 0;
  bottom: -10%;
}

.pixel {
  position: absolute;
  width: 5%;
  height: 5%;
  overflow: hidden;
}

.food {
  position: absolute;
  width: 5%;
  height: 5%;
  background-color: #2C311D;
  border-radius: 100%;
}

.borderX {
  position: absolute;
  width: 100%;
  height: 90%;
  background-color: #2C311D;
  top: 5%;
}

.borderY {
  position: absolute;
  width: 90%;
  height: 100%;
  background-color: #2C311D;
  left: 5%;
}

.borderLB {
  position: absolute;
  width: 95%;
  height: 95%;
  background-color: #2C311D;
  left: 5%;
  bottom: 5%;
}

.squareLB {
  position: absolute;
  width: 5%;
  height: 5%;
  background-color: #8DA259;
  top: 0;
  right: 0;
}

.borderLT {
  position: absolute;
  width: 95%;
  height: 95%;
  background-color: #2C311D;
  left: 5%;
  top: 5%;
}

.squareLT {
  position: absolute;
  width: 5%;
  height: 5%;
  background-color: #8DA259;
  bottom: 0;
  right: 0;
}

.borderRB {
  position: absolute;
  width: 95%;
  height: 95%;
  background-color: #2C311D;
  right: 5%;
  bottom: 5%;
}

.squareRB {
  position: absolute;
  width: 5%;
  height: 5%;
  background-color: #8DA259;
  top: 0;
  left: 0;
}

.borderRT {
  position: absolute;
  width: 95%;
  height: 95%;
  background-color: #2C311D;
  right: 5%;
  top: 5%;
}

.squareRT {
  position: absolute;
  width: 5%;
  height: 5%;
  background-color: #8DA259;
  bottom: 0;
  left: 0;
}

@media (max-width: 498px) {
  .gameScreen {
    max-width: 90%;
  }

  .bigHeading {
    font-size: 1.8rem;
  }
  
  .text {
    font-size: 0.75rem;
  }

  .newGameButton {
    font-size: 1rem;
    padding: 7px 5px;
  }

  .resultScore {
    font-size: 0.6rem;
  }
}

